page-home {
    & .background {
        margin: 0px !important;
        width: 100%;
        height: 200%;
        background-color: orange;
        -webkit-transition: background-color 750ms linear;
        -ms-transition: background-color 750ms linear;
        transition: background-color 750ms linear;
    }

    & .scrollY-container {
        // overflow: hidden;
    }

    $iconSize: 300px;
    & .icon-container-1 { margin-top: 0px !important; }
    & .icon-container-1, .icon-container-2, .icon-container-3, .icon-container-4, {
        position: relative;
        left: 50%;
        margin-left: -$iconSize/2;
        margin-top: -$iconSize/2;

        width: $iconSize;
        margin-top: 100px;

        & ion-icon {
            font-size: $iconSize;
            position: relative;           
            color: white;
        }
    }

    $scrollSize: 200px;
    & .icon-container-1 { top: $scrollSize }
    & .icon-container-2 { top: $scrollSize*2 }
    & .icon-container-3 { top: $scrollSize*3 }
    & .icon-container-4 { top: $scrollSize*4 }

}
